<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <div class="row" data-masonry='{"percentPosition": true }'>
                    {% if site.data.profile.education %}
                    <div class="col-md-6">
                        <div class="mx-2 my-1">
                            <h6>🏫 Education</h6>
                            <ul class="list-unstyled mb-1">
                                {% for item in site.data.profile.education %}
                                <li class="media mb-1">
                                    <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 18px;" class="mr-1 mt-1">
                                    <div class="media-body">
                                        <div>{{ item.name }}</div>
                                        <div class="small">{{ item.dept }}</div>
                                        <div class="small d-flex">
                                            <div>{{ item.position }}</div>
                                            <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                    {% if site.data.profile.awards %}
                    <div class="col-md-6">
                        <div class="mx-2 my-1">
                            <h6>🏆 Honors & Awards</h6>
                            <ul class="list small pl-3 mb-1">
                                {% assign awards = site.data.profile.awards %}
                                {% for item in awards limit:7 %}
                                <li>
                                    <div class="d-flex">
                                        <div>{{ item.name }}</div>
                                        <div class="ml-auto mt-auto no-break"><em>{{ item.date }}</em></div>
                                    </div>
                                    {% if item.position %}
                                    <div>{{ item.position }}</div>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                            
                            {% if awards.size > 7 %}
                            <div class="collapse" id="awards-collapse">
                                <ul class="list small pl-3 mb-1">
                                    {% for item in awards offset:7 %}
                                    <li>
                                        <div class="d-flex">
                                            <div>{{ item.name }}</div>
                                            <div class="ml-auto mt-auto no-break"><em>{{ item.date }}</em></div>
                                        </div>
                                        {% if item.position %}
                                        <div>{{ item.position }}</div>
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            
                            <style>
                                .award-toggle[aria-expanded="true"] .show-more { display: none; }
                                .award-toggle[aria-expanded="false"] .show-less { display: none; }
                            </style>
                            <a class="award-toggle small text-muted ml-3" 
                               style="cursor: pointer;" 
                               data-toggle="collapse" 
                               href="#awards-collapse" 
                               role="button" 
                               aria-expanded="false" 
                               aria-controls="awards-collapse">
                                <span class="show-more">Show more <i class="fas fa-angle-down"></i></span>
                                <span class="show-less">Show less <i class="fas fa-angle-up"></i></span>
                            </a>

                            <script>
                                document.addEventListener("DOMContentLoaded", function() {
                                    var $collapse = $('#awards-collapse');
                                    var $masonryRow = $collapse.closest('.row');
                                    var animationInterval;

                                    // 清除定时器的安全函数
                                    function clearMasonryInterval() {
                                        if (animationInterval) {
                                            clearInterval(animationInterval);
                                            animationInterval = null;
                                        }
                                    }

                                    $collapse.on('show.bs.collapse hide.bs.collapse', function () {
                                        clearMasonryInterval();
                                        animationInterval = setInterval(function() {
                                            $masonryRow.masonry('layout');
                                        }, 20);
                                    });

                                    $collapse.on('shown.bs.collapse hidden.bs.collapse', function () {
                                        clearMasonryInterval();
                                        $masonryRow.masonry('layout');
                                    });
                                });
                            </script>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}

                    {% if site.data.profile.experience %}
                    <div class="col-md-6">
                        <div class="mx-2 my-1">
                            <h6>💻 Experience</h6>
                            <ul class="list-unstyled mb-1">
                                {% for item in site.data.profile.experience %}
                                <li class="media mb-1">
                                    <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 18px;" class="mr-1 mt-1">
                                    <div class="media-body">
                                        <div>{{ item.name }}</div>
                                        <div class="small">{{ item.dept }}</div>
                                        <div class="small d-flex">
                                            <div>{{ item.position }}</div>
                                            <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                </div>

            </div>
        </div>
    </div>
</div>